<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
  </configSections>
  <appSettings>
    <add key = "nwtr" value = "» Northwind Traders Ver 5.0 Arquitectura en capas «" />
    <add key = "TasaIVA" value = "0.16"/>
  </appSettings>
  <connectionStrings>
    <add name="Northwind2ConnectionString" connectionString="Data Source=localhost;Initial Catalog=Northwind2;Integrated Security=True;TrustServerCertificate=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.8" />
    </startup>
</configuration>